* {
    margin: 0;
    padding: 0;
}

/* navbar */
.topnavbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    background-color: #F8FAFCCC;
}

.nav-container1 {
    font-size: 20px;
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #0F172A;
}

.nav-container2 {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    font-family: inter, sans-serif;
    font-weight: 400;
}

.nav-container2 a {
    font-size: 16px;
    text-decoration: none;
    color: #475569;
}


#opened-page{
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    font-size: 16px;
    font-weight: 599;
    color: #2563EB;
    line-height: 24px;
    border-bottom: 3px solid #2563EB;
}

.nav-button {
    padding: 15px 25px;
    background: linear-gradient(to right, #003EC7, #0052FF);
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    font-size: 16px;
    font-family: manrope, sans-serif;
    cursor: pointer;
}

/* main */

/* hero */

.hero{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 32px;
    padding-top: 32px;
    padding-bottom: 60px;
    max-width: 768px;
}

.hero-portfolio{
    font-size: 12px;
    font-weight: 400;
    color: #005A3C;
    font-family: inter, sans-serif;
    letter-spacing: 0.6px;
    line-height: 18px;
}

.hero-heading{
    font-size: 72px;
    font-weight: 300;
    color: #131B2E;
    font-family: manrope, sans-serif;
    letter-spacing: -3.6px;
    line-height: 82px;
    max-width: 600px;
}

.hero-heading  .authority{
    color: #003EC7;
    line-height: 100%;
}

.hero-description{
    padding-top: 16px;
    font-size: 20px;
    font-weight: 400;
    color: #434656;
    font-family: inter, sans-serif;
    line-height: 32.5px;
}

/* pgp */

.pgp{
    display: grid;
    row-gap: 96px;
    column-gap: 48px;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 32px;
}

.pgp1{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.pgp-direct-img {
    width: 645px;
    height: 730px;   
    object-fit: cover; 
    object-position: center; 
    border-radius: 10px;
}

.pgp-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pgp-heading{
    font-size: 11.2px;
    font-weight: 400;
    color: #737688;
    font-family: inter, sans-serif;
    letter-spacing: 1.12px;
    line-height: 16.8px;
}

.pgp-main-heading{
    font-size: 30px;
    font-weight: 300;
    color: #131B2E;
    font-family: manrope, sans-serif;
    line-height: 30px;
}

.pgp-description{
    font-size: 16px;
    font-weight: 300;
    color: #434656;
    font-family: inter, sans-serif;
    line-height: 24px;
    max-width: 364px;
}

.pgp2{
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 128px;
}

.pgp3{
    grid-row: 3;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.pgp4{
    grid-row: 3;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 128px;
}

.pgp-testimonial{
    display: flex;
    gap: 48px;
    padding: 96px 0px;
    align-items: center;
    grid-row: 2;
    grid-column: 1 / span 2;
    max-width: 1024px;
}

.testimonial-img{
    width: 96px;
    border-radius: 12px;
}

.testimonial-subtopic1{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 1px;
}

.testimonial-icon{
    width: 34px;
}

.testimonial-blockquote{
    font-size: 30px;
    font-weight: 500;
    color: #131B2E;
    font-family: manrope, sans-serif;
    line-height: 36px;
}

.testimonial-info{
    padding-top: 8px;
}

.testimonial-info-name{
    font-size: 16px;
    font-weight: 300;
    color: #131B2E;
    font-family: inter, sans-serif;
    line-height: 24px;
}

.testimonial-info-description{
    font-size: 16px;
    font-weight: 300;
    color: #434656;
    font-family: inter, sans-serif;
    letter-spacing: 0.7px;
    line-height: 20px;
}

/* trust-section */

.trust{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 96px 32px;
    background-color: #F2F3FF;
    margin-top: 200px;
}

.trust1{
    grid-row: 1;
    grid-column: 1 / span 5;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 24px;
}

.trust1-sec1{
    font-size: 36px;
    font-weight: 300;
    color: #131B2E;
    font-family: manrope, sans-serif;
    letter-spacing: -0.9px;
    line-height: 40px;
    width: 80%;
}

.trust1-sec2{
    font-size: 16px;
    font-weight: 300;
    color: #434656;
    font-family: inter, sans-serif;
    line-height: 24px;
    width: 90%;
}

.trust1-sec3{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 24px;
    width: 80%;
    padding-left: 7.5px;
}

.trust1-sec3-box{
    display: flex;
    gap: 16px;
}


.trust1-sec3-icon1{
    width: 11px;
    height: 18px;
}

.trust1-sec3-info{
    display: flex;
    flex-direction: column;
}

.trust1-sec3-heading{
    font-size: 16px;
    font-weight: 600;
    color: #131B2E;
    font-family: inter, sans-serif;
    line-height: 24px;
}

.trust1-sec3-description{
    font-size: 14px;
    font-weight: 300;
    color: #434656;
    font-family: inter, sans-serif;
    line-height: 20px;
}

.trust1-sec3-icon2{
    width: 22px;
    height: 22px;
}

.trust2{
    grid-row: 1;
    grid-column: 6 / span 12;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.trust2-box1{
    grid-row: 1;
    grid-column: 1;
    padding: 32px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.trust2-box2{
    grid-row: 1;
    grid-column: 2;
    margin-top: 32px;
    padding: 32px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.trust2-box3{
    grid-row: 2;
    grid-column: 1;
    padding: 32px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.trust2-box4{
    grid-row: 2;
    grid-column: 2;
    margin-top: 32px;
    padding: 32px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.trust2-num{
    font-size: 36px;
    font-weight: 300;
    color: #003EC7;
    font-family: manrope, sans-serif;
    line-height: 40px;
    padding-bottom: 2px;
}

.trust2-sen{
     font-size: 14px;
    font-weight: 300;
    color: #737688;
    font-family: inter, sans-serif;
    line-height: 20px;
}

/* cta */

.cta{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0px 32px;
    align-items: center;
    margin: 200px 0px;
}

.cta-heading{
    font-size: 60px;
    font-weight: 600;
    color: #131B2E;
    font-family: manrope, sans-serif;
    line-height: 60px;
    width: 60%;
    text-align: center;
}

.digital-marketing{
    color: #003EC7;
}

.cta-button{
    display: flex;
    gap: 24px;
}

.cta-button1{
    font-size: 18px;
    font-weight: 500;
    padding: 15px 40px;
    color: #ffffff;
    font-family: manrope, sans-serif;
    line-height: 28px;
    background: linear-gradient(to right, #003EC7, #0052FF);
    border-radius: 4px;
}

.cta-button2{
    font-size: 18px;
    font-weight: 500;
    padding: 15px 40px;
    color: #003EC7;
    font-family: manrope, sans-serif;
    line-height: 28px;
    background-color: #E2E7FF;
    border-radius: 4px;
}

.cta-button2 > a{
    text-decoration: none;
    cursor: pointer;
}

/* footer */
.footer{
    display: flex;
    justify-content: space-between;
    padding: 48px 32px;
}

.footer1{
    font-size: 18px;
    font-family: manrope, sans-serif;
    font-weight: 900;
    color: #0F172A;
}

.footer2{
    display: flex;
    flex-direction: row;
    gap: 34px;
}

.footer2 > a{
    text-decoration: none;
    cursor: pointer;
    color: #64748B;
    font-size: 18px;
    font-weight: 400px;
    font-family: inter, sans-serif;
}

.footer3{
    font-size: 14px;
    font-family: inter, sans-serif;
    font-weight: 400;
    color: #64748B;
}

#footer-opened-page{
    color: #2563EB
    
}