* {
    margin: 0;
    padding: 0;
}

/* navbar */
.topnavbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    background-color: #F8FAFCCC;

}

.nav-container1 {
    font-size: 20px;
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #0F172A;
}

.nav-container2 {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-container-links {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    font-family: inter, sans-serif;
    font-weight: 400;
}

.nav-container2 a {
    font-size: 16px;
    text-decoration: none;
    color: #475569;
}

.nav-button {
    padding: 15px 25px;
    background: linear-gradient(to right, #003EC7, #0052FF);
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    font-size: 16px;
    font-family: manrope, sans-serif;
    cursor: pointer;
}

#opened-page{
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    font-size: 16px;
    font-weight: 599;
    color: #2563EB;
    line-height: 24px;
    border-bottom: 3px solid #2563EB;
}

/* main */

/* hero */

.hero{
    display: flex;
    gap: 98px;
    padding: 40px;
}

.hero1{
    display: flex;
    gap: 24px;
    flex-direction: column;
    width: 130%;
}

.hero1-box1{
    font-size: 12px;
    font-weight: 300;
    font-family: inter, sans-serif;
    color: #131B2E;
    letter-spacing: 0.6px;
}

.hero1-box2{
    font-size: 72px;
    font-weight: 300;
    font-family: manrope, sans-serif;
    color: #131B2E;
}

.execution{
    color: #003EC7;
}

.hero2{
    font-size: 18px;
    font-weight: 300;
    font-family: inter, sans-serif;
    color: #434656;
    margin-top: 65px;
    line-height: 30px;
    letter-spacing: 0.5px;
}
