* {
    margin: 0;
    padding: 0;
}

/* navbar */
.topnavbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
}

.nav-container1 {
    font-size: 20px;
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #0F172A;
}

.nav-container2 {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    font-family: inter, sans-serif;
    font-weight: 400;
}

.nav-container2 a {
    font-size: 16px;
    text-decoration: none;
    color: #475569;
}

.nav-button {
    padding: 15px 25px;
    background: linear-gradient(to right, #003EC7, #0052FF);
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    font-size: 16px;
    font-family: manrope, sans-serif;
    cursor: pointer;
}

/* MAIN */
/* MAIN CONTAINER1 */

.main-container1 {
    width: 100%;
    height: auto;
    display: flex;
    padding: 110.5px 32px;
    box-sizing: border-box;
    gap: 64px;
    background: linear-gradient(to bottom, #ffffff, #f8f0fc);
}

/* MAIN CONTAINER1-1 */
.main-container1-1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}

.container1-1-subtopic1 {
    font-size: 12px;
    font-weight: 700;
    font-family: inter, sans-serif;
    color: #005A3C;
    background-color: #EAEDFF;
    padding: 6px 16px;
    border-radius: 45px;
    width: fit-content;
}

.container1-1-subtopic2 {
    font-size: 96px;
    font-weight: 400;
    font-family: manrope, sans-serif;
    color: #0F172A;
    line-height: 1.2;
}

.container1-1-subtopic2>p {
    font-size: 96px;
    font-weight: 400;
    font-family: inter, sans-serif;
    color: #015405;
    margin-top: 20px;
    word-spacing: 100px;
}

.container1-1-subtopic3 {
    font-size: 20px;
    font-weight: 400;
    font-family: inter, sans-serif;
    color: #434656;
    width: 80%;
    line-height: 28px;
}

.container1-1-subtopic4 {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.container1-1-button1 {
    padding: 16px 32px;
    background: linear-gradient(to right, #003EC7, #0052FF);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    font-family: manrope, sans-serif;
    cursor: pointer;
}

.container1-1-button2 {
    padding: 16px 32px;
    background-color: #E2E7FF;
    color: #003EC7;
    font-size: 18px;
    font-weight: 500;
    font-family: manrope, sans-serif;
    border-radius: 5px;
    cursor: pointer;
}

/* MAIN CONTAINER1-2 */
.main-container1-2 {
    width: 50%;
    display: grid;
}

.main-container1-2>img {
    grid-area: 1 / 1;
    width: 100%;
    max-width: 576px;
    height: 700px;
    border-radius: 5px;
    object-fit: cover;
}

.container1-2-image1 {
    z-index: 2;
    transform: rotate(-2deg);
}

.container1-2-image2 {
    z-index: 1;
    transform: translateX(50px) rotate(3deg);
    opacity: 0.4;
}

/* MAIN CONTAINER2 */
.main-container2 {
    margin: 128px 42px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 96px;
}

/* MAIN CONTAINER2-1 */

.main-container2-1 {
    display: flex;
    justify-content: space-between;
    align-items: end;

}

.main-container2-1-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-container2-1-1-subtopic1 {
    font-size: 12px;
    font-weight: 400;
    font-family: inter, sans-serif;
    color: #737688;
    width: fit-content;
}

.main-container2-1-1-subtopic2 {
    font-size: 48px;
    font-weight: 500;
    font-family: manrope, sans-serif;
    color: #131B2E;
}

.main-container2-1-2 {
    width: 290px;
    font-size: 14px;
    font-weight: 400;
    font-family: inter, sans-serif;
    color: #434656;

}

/* MAIN CONTAINER2-2 */

.main-container2-2 {
    display: flex;
    justify-content: space-evenly;
    gap: 32px;

}

.main-container2-2-column1 {
    padding-bottom: 25.25px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-container2-2-column1-1 {
    display: flex;
    flex-direction: column;
    gap: 14.8px;
    background-color: #F2F3FF;
    padding: 40px;
    border-radius: 5px;
}

.main-container2-2-column1-2 {
    display: flex;
    flex-direction: column;
    gap: 14.8px;
    background-color: #F2F3FF;
    padding: 40px;
    border-radius: 5px;
}

.main-container2-2-column2 {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-container2-2-column2-1 {
    display: flex;
    flex-direction: column;
    gap: 14.8px;
    background-color: #F2F3FF;
    padding: 40px;
    border-radius: 5px;
}

.main-container2-2-column2-2 {
    display: flex;
    flex-direction: column;
    gap: 14.8px;
    background-color: #F2F3FF;
    padding: 40px;
    border-radius: 5px;
}

.main-container2-2-column3 {
    display: flex;
    flex-direction: column;
    background: #F2F3FF;
    padding: 170.75px 40px;
    gap: 20px;
    border-radius: 5px;
}

.container2-2-icon {
    width: 24px;
}

.container2-2-heading {
    font-size: 24px;
    font-weight: 400;
    font-family: manrope, sans-serif;
}

.container2-2-description {
    font-size: 14px;
    font-weight: 400;
    font-family: inter, sans-serif;
    color: #434656;
}

.container2-2-link {
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
    font-family: inter, sans-serif;
    color: #005A3C;
}

/* MAIN CONTAINER3 */

.main-container3 {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 128px 52px;
    background-color: #FAF8FF;
}

/* MAIN CONTAINER3-1 */

.main-container3-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-container3-1-divider {
    background: #C3C5D933;
    height: 1px;
}

.main-container3-1-subtopic1 {
    font-size: 12px;
    font-weight: 400px;
    font-family: inter, sans-serif;
    letter-spacing: 2.4px;
    color: #737688;

}

/* MAIN CONTAINER3-2 */

.main-container3-2 {
    display: flex;
    justify-content: space-between;
}

.main-container3-2-subtopic1 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.container3-2-subtopic1-1 > img{
    height: 700px;
    width: 556px;
    object-fit: cover;
    border-radius: 5px;
}

.container3-2-subtopic1-2 {
    display: flex;
    justify-content: space-between;
}

.con3-2-subtopic1-2-1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.con3-2-subtopic1-2-1-1 {
    font-size: 24px;
    font-weight: 400;
    font-family: manrope, sans-serif;
    color: #131B2E;
}

.con3-2-subtopic1-2-1-2 {
    font-size: 14px;
    font-weight: 400;
    font-family: inter, sans-serif;
    color: #434656;
}

.con3-2-subtopic1-2-2 {
    font-size: 12px;
    font-weight: 700;
    font-family: inter, sans-serif;
    color: #005A3C;

}

/* subtopic2 */

.main-container3-2-subtopic2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 96px;
}

.container3-2-subtopic2-1 > img{
    height: 700px;
    width: 556px;
    object-fit: cover;
    border-radius: 5px;
}

.container3-2-subtopic2-2 {
    display: flex;
    justify-content: space-between;
}

.con3-2-subtopic2-2-1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.con3-2-subtopic2-2-1-1 {
    font-size: 24px;
    font-weight: 800;
    font-family: manrope, sans-serif;
    color: #131B2E;
}

.con3-2-subtopic2-2-1-2 {
    font-size: 14px;
    font-weight: 400;
    font-family: inter, sans-serif;
    color: #434656;
}

.con3-2-subtopic2-2-2 {
    font-size: 12px;
    font-weight: 700;
    font-family: inter, sans-serif;
    color: #005A3C;

}