* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
.topnavbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(16px, 4vw, 30px);
    box-sizing: border-box;
    background-color: #F8FAFCCC;

}

.nav-container1 {
    font-size: clamp(16px, 2vw, 20px);
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #0F172A;
}

.nav-container2 {
    display: flex;
    align-items: center;
    gap: clamp(10px, 2.5vw, 40px);
}

.nav-container-links {
    display: flex;
    gap: clamp(4px, 2.5vw, 40px);
    justify-content: center;
    align-items: center;
    font-family: inter, sans-serif;
    font-weight: 400;
}

.nav-container2 a {
    font-size: clamp(14px, 1.5vw, 16px);
    text-decoration: none;
    color: #475569;
}

.nav-button {
    padding: clamp(10px, 1.5vw, 15px) clamp(16px, 2.5vw, 25px);
    background: linear-gradient(to right, #003EC7, #0052FF);
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    font-size: clamp(14px, 1.5vw, 16px);
    font-family: manrope, sans-serif;
    cursor: pointer;
}

#opened-page {
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    font-size: 16px;
    font-weight: 599;
    color: #2563EB;
    line-height: 1.2;
    border-bottom: 3px solid #2563EB;
}

/* main */
.main {
    display: flex;
    flex-direction: column;
    gap: clamp(60px, 8vw, 128px);
    padding-top: clamp(20px, 4vw, 32px);
    padding-left: clamp(16px, 5vw, 32px);
    padding-right: clamp(16px, 5vw, 32px);
    padding-bottom: clamp(40px, 8vw, 96px);
}

/* hero */

.hero {
    display: flex;
    gap: clamp(24px, 6vw, 98px);
    align-items: flex-start;
}

.hero1 {
    display: flex;
    gap: clamp(16px, 3vw, 24px);
    flex-direction: column;
    width: 130%;
}

.hero1-box1 {
    font-size: 12px;
    font-weight: 300;
    font-family: inter, sans-serif;
    color: #131B2E;
    letter-spacing: 0.6px;
}

.hero1-box2 {
    font-size: clamp(32px, 5vw, 72px);
    line-height: 1.2;
    font-weight: 300;
    font-family: manrope, sans-serif;
    color: #131B2E;
}

.execution {
    color: #003EC7;
}

.hero2 {
    font-size: clamp(14px, 2vw, 18px);
    font-weight: 300;
    font-family: inter, sans-serif;
    color: #434656;
    margin-top: clamp(16px, 4.5vw, 65px);
    line-height: 1.6;
    letter-spacing: 0.5px;
    max-width: 450px;
}

/* pg */

.pg {
    display: flex;
    gap: clamp(48px, 8vw, 192px);
    flex-direction: column;
}

/* pg-sec1 */

.pg-sec1 {
    display: flex;
    gap: clamp(24px, 5vw, 64px);
}

.pg1 {
    display: flex;
    flex-direction: column;
    gap: clamp(4px, 1.2vw, 16px);
    flex: 1;
}

.pg1-sub1 {
    font-size: 12px;
    font-weight: 300;
    font-family: inter, sans-serif;
    color: #C3C5D9;
    line-height: 1.2;
    letter-spacing: 1.2px;
}

.pg1-sub2 {
    font-size: clamp(24px, 4vw, 36px);
    font-weight: 300;
    font-family: manrope, sans-serif;
    color: #131B2E;
    line-height: 1.2;
    letter-spacing: -0.9px;
}

.pg1-sub3 {
    font-size: clamp(16px, 2.5vw, 20px);
    font-weight: 300;
    font-family: inter, sans-serif;
    color: #434656;
    line-height: 1.8;
    padding-top: 8px;
    width: 86%;
}

.pg1-sub4 {
    display: flex;
    flex-direction: column;
    gap: clamp(4px, 1.2vw, 16px);
    padding-top: clamp(5px, 1.8vw, 25px);
}

.pg1-sub4-l {
    display: flex;
    gap: 16px;
}

.pg1-sub4-text {
    font-size: 16px;
    font-weight: 400;
    font-family: inter, sans-serif;
    color: #131B2E;
    line-height: 1.4;
}

.pg2 {
    height: 720px;
    width: 100%;
    max-width: 576px;
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);
    border-radius: 5px;
}

/* pg-sec2 */

.pg-sec2 {
    display: flex;
    gap: clamp(24px, 5vw, 64px);
    align-items: center;
}

.pg-sec2-img {
    height: 400px;
    width: 1250px;
    object-fit: cover;
    object-position: center;
    padding-top: clamp(16px, 3vw, 48px);
}

.pg-sec2-box {
    display: flex;
    flex-direction: column;
    gap: clamp(4px, 1.2vw, 16px);
}

.pg-sec2-box1 {
    font-size: 12px;
    font-weight: 300;
    font-family: inter, sans-serif;
    color: #C3C5D9;
    line-height: 18px;
    letter-spacing: 1.2px;
}

.pg-sec2-box2 {
    font-size: clamp(24px, 4vw, 36px);
    font-weight: 300;
    font-family: manrope, sans-serif;
    color: #131B2E;
    line-height: 40px;
    letter-spacing: -0.9px;
}

.pg-sec2-box3 {
    font-size: clamp(16px, 2.5vw, 20px);
    font-weight: 300;
    font-family: inter, sans-serif;
    color: #434656;
    line-height: 1.5;
    width: 85%;
}

.pg-sec2-box4 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 24px;
}

.pg-sec2-box4-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.pg-sec2-box4-heading {
    font-size: 16px;
    font-weight: 300;
    font-family: inter, sans-serif;
    color: #003EC7;
    line-height: 24px;
}

.pg-sec2-box4-description {
    font-size: 14px;
    font-weight: 300;
    font-family: inter, sans-serif;
    color: #434656;
    line-height: 20px;
}

/* pg-sec3 */

.pg-sec3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(16px, 4vw, 32px);
}

.pg-sec3-box1 {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: clamp(24px, 5vw, 48px);
    background-color: #F2F3FF;
}

.pg-sec3-box1-part1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: clamp(16px, 2.3vw, 32px);
}

.pg-sec3-box1-part1-l1 {
    font-size: 12px;
    font-weight: 300;
    font-family: inter, sans-serif;
    color: #C3C5D9;
    line-height: 1.5;
    letter-spacing: 1.2px;
}

.pg-sec3-box1-part1-l2 {
    font-size: clamp(22px, 3.5vw, 30px);
    font-weight: 300;
    font-family: manrope, sans-serif;
    color: #131B2E;
    line-height: 1.2;
}

.pg-sec3-box1-part1-l3 {
    font-size: clamp(14px, 2.2vw, 16px);
    font-weight: 300;
    font-family: inter, sans-serif;
    color: #434656;
    line-height: 1.5;
}

.pg-sec3-box1-part2 {
    display: flex;
    gap: 12px;
}

.pg-sec3-box1-part2-l {
    font-size: 12px;
    font-weight: 550;
    font-family: inter, sans-serif;
    color: #003EC7;
    line-height: 1.3;
    letter-spacing: 0.6px;
    padding: 6px 16px;
    background-color: #DAE2FD;
    border-radius: 12px;
}

.pg-sec3-box2 {
    display: flex;
    flex-direction: column;
    padding: clamp(24px, 5vw, 48px);
    justify-content: space-between;
    border-radius: 8px;
    background-color: #003EC7;
}

.pg-sec3-box2-part1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: clamp(16px, 2.3vw, 32px);
}

.pg-sec3-box2-part1-l1 {
    font-size: 12px;
    font-weight: 300;
    font-family: inter, sans-serif;
    color: #B7C4FF;
    line-height: 1.5;
    letter-spacing: 1.2px;
}

.pg-sec3-box2-part1-l2 {
    font-size: clamp(22px, 3.5vw, 30px);
    font-weight: 300;
    font-family: manrope, sans-serif;
    color: #FFFFFF;
    line-height: 1.2;
}

.pg-sec3-box2-part1-l3 {
    font-size: clamp(14px, 2.2vw, 16px);
    font-weight: 300;
    font-family: inter, sans-serif;
    color: #DFE3FF;
    line-height: 1.5;
}

.pg-sec3-box2-part2 {
    display: flex;
    border-top: 1px solid #DFE3FF33;
    padding-top: 24px;
    justify-content: space-between;
}

.pg-sec3-box2-part2-sen {
    font-size: 16px;
    font-weight: 550;
    font-family: inter, sans-serif;
    color: #ffffff;
    line-height: 1.5;
}

.pg-sec3-box2-part2-icon {
    height: 12px;
    width: auto;
}

/* pg-sec4 */

.pg-sec4 {
    display: flex;
    flex-direction: column;
    gap: clamp(32px, 6vw, 64px);
    padding: clamp(32px, 7vw, 96px) clamp(16px, 11.5vw, 159px);
    border-radius: 8px;
    border: 2px solid #C3C5D91A;
}

.pg-sec4-part1 {
    display: flex;
    flex-direction: column;
    gap: clamp(3px, 1vw, 16px);
    align-items: center;
}

.pg-sec4-part1-l1 {
    font-size: 12px;
    font-weight: 550;
    font-family: inter, sans-serif;
    color: #005A3C;
    line-height: 18px;
    letter-spacing: 1.2px;
}

.pg-sec4-part1-l2 {
    font-size: clamp(28px, 5vw, 48px);
    font-weight: 550;
    font-family: manrope, sans-serif;
    color: #131B2E;
    line-height: 48px;
    letter-spacing: -2.4px;
}

.pg-sec4-part1-l3 {
    font-size: clamp(16px, 2.5vw, 20px);
    font-weight: 350;
    font-family: inter, sans-serif;
    color: #434656;
    line-height: 28px;
    padding-top: 8px;
    width: 60%;
    text-align: center;
}

.pg-sec4-part2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(14px, 4.3vw, 48px);
}

.pg-sec4-part2-l1 {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 14.8px;
}

.pg-sec4-part2-l2 {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 14.8px;
}

.pg-sec4-part2-l3 {
    grid-row: 1;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    gap: 14.8px;
}

.pg-sec4-part2-li-h {
    font-size: 18px;
    font-weight: 350;
    font-family: manrope, sans-serif;
    color: #131B2E;
    line-height: 28px;
}

.pg-sec4-part2-li-d {
    font-size: 14px;
    font-weight: 350;
    font-family: inter, sans-serif;
    color: #434656;
    line-height: 22.75px;
}

.pg-sec4-part2-li-icon1 {
    height: auto;
    max-width: 48px;
    width: 100%;
    padding: 15px 18px;
    background-color: #E2E7FF;
    border-radius: 12px;
}

.pg-sec4-part2-li-icon2 {
    height: auto;
    width: 100%;
    max-width: 48px;
    padding: 14px 14px;
    background-color: #E2E7FF;
    border-radius: 12px;
}

.pg-sec4-part2-li-icon3 {
    height: auto;
    width: 100%;
    max-width: 48px;
    padding: 14px 15px;
    background-color: #E2E7FF;
    border-radius: 12px;
}

/* cta */
.cta {
    padding: clamp(40px, 8vw, 128px);
    border-radius: 8px;
    background-color: #E2E7FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(16px, 3vw, 32px);
}

.cta-head {
    font-size: clamp(28px, 4.3vw, 60px);
    font-weight: 700;
    font-family: manrope, sans-serif;
    color: #131B2E;
    letter-spacing: -1.5px;
}

.precision {
    color: #0145d7;
    letter-spacing: 0px;
}

.cta-des {
    font-size: clamp(14px, 1.3vw, 18px);
    font-weight: 350;
    font-family: inter, sans-serif;
    color: #434656;
    line-height: 1.5;
}

.cta-box {
    display: flex;
    gap: clamp(8px, 1.5vw, 24px);
    padding-top: 16px;
}

.cta-box1 {
    font-size: clamp(14px, 1.5vw, 18px);
    font-weight: 650;
    font-family: inter, sans-serif;
    color: #ffffff;
    line-height: 1.5;
    padding: clamp(10px, 1.5vw, 15px) clamp(16px, 2.5vw, 25px);
    border-radius: 4px;
    background-color: #003EC7;
}

.cta-box2 {
    display: flex;
    gap: 8px;
    align-items: center;
}

.cta-box2-d {
    font-size: clamp(14px, 1.5vw, 18px);
    font-weight: 650;
    font-family: inter, sans-serif;
    color: #005A3C;
    line-height: 1.5;
}

.cta-box2-divider {
    max-width: 32px;
    width: 100%;
    height: 2px;
}

/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(24px, 5vw, 48px) clamp(16px, 5vw, 32px);
    background-color: #F8FAFC;
    border: 1px solid #E2E8F033;
    flex-wrap: wrap;
}

.footer1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer1-heading {
    font-size: 18px;
    font-family: manrope, sans-serif;
    font-weight: 900;
    color: #0F172A;
}

.footer1-description {
    font-size: 14px;
    font-family: inter, sans-serif;
    font-weight: 400;
    color: #64748B;
}

.footer2 {
    display: flex;
    flex-direction: row;
    gap: clamp(16px, 4vw, 34px);
}

.footer2>a {
    text-decoration: none;
    cursor: pointer;
    color: #64748B;
    font-size: 18px;
    font-weight: 400px;
    font-family: inter, sans-serif;
}

#footer-opened-page {
    color: #2563EB
}

@media (max-width: 768px) {

    .topnavbar {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .nav-container2 {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .nav-container-links {
        flex-direction: column;
        width: fit-content;
        text-align: center;
    }

    .nav-container2 a {
        width: fit-content;
    }

    .nav-button {
        width: 40%;
        text-align: center;
    }

    .hero {
        flex-direction: column;
    }

    .hero1 {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .hero2 {
        margin-top: 0;
        text-align: center;
        width: 100%;
    }

    .pg-sec1 {
        flex-direction: column;
        align-items: flex-start;
    }

    .pg1 {
        width: 100%;
        align-items: center;
    }

    .pg1-sub3 {
        width: 100%;
        text-align: center;
    }

    .pg1-sub4 {
        text-align: center;
    }

    .pg2 {
        max-width: 100%;
        height: auto;
    }

    .pg-sec2 {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .pg-sec2-box {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .pg-sec2-img {
        padding-top: 16px;
        width: 100%;
        height: auto;
    }

    .pg-sec3 {
        grid-template-columns: 1fr;
    }

    .pg-sec3-box1-part1 {
        text-align: center;
        align-items: center;
        width: 100%;
    }

    .pg-sec3-box1-part2 {
        text-align: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }

    .pg-sec3-box2-part1 {
        text-align: center;
        align-items: center;
        width: 100%;
    }

    .pg-sec3-box2-part2 {
        gap: 12px;
        align-items: flex-start;
    }

    .pg-sec4 {
        padding: 32px 16px;
        align-items: center;
    }

    .pg-sec4-part1 {
        align-items: center;
        text-align: center;
    }

    .pg-sec4-part1-l2 {
        letter-spacing: 0;
    }

    .pg-sec4-part1-l3 {
        text-align: center;
        width: 100%;
    }

    .pg-sec4-part2 {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        width: 100%;
    }

    .pg-sec4-part2-l1 {
        grid-row: 1;
        grid-column: 1;
        align-items: flex-start;
    }

    .pg-sec4-part2-l2 {
        grid-row: 2;
        grid-column: 1;
    }

    .pg-sec4-part2-l3 {
        grid-row: 3;
        grid-column: 1;
    }

    .cta-head {
        text-align: center;
        letter-spacing: 0;
    }

    .cta-des {
        text-align: center;
        width: 100%;
    }

    .cta-box {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }

    .footer {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 8px;
    }

    .footer2 {
        flex-direction: column;
        gap: 5px;
    }

    .footer2 a {
        font-size: 16px;
    }
}